---
import Header from '@/components/Header.astro'
import PostTag from '@/components/PostTag.astro'
import Layout from '@/layouts/Layout.astro'
import { getPost } from '@/services/post-service'
import {
  ThumbsUp,
  MessageSquare,
  Bookmark,
  Share2,
  MoreHorizontal,
} from 'lucide-vue-next'

const { slug } = Astro.params

const post = await getPost(slug?.toString() || '')
---

<Layout>
  <Header />

  <!-- Main Content -->
  <main class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6'>
    <div class='max-w-screen-xl mx-auto px-4 sm:px-20 lg:px-40'>
      <!-- Article Header -->
      <div class='py-4 md:py-6 border-b border-gray-200'>
        <h1
          class='text-3xl md:text-4xl lg:text-3xl font-bold text-gray-900 mb-4'
        >
          {post?.title}
        </h1>
        <h2 class='text-xl md:text-base text-gray-700 mb-6'>
          {post?.summary}
        </h2>

        <div class='flex items-center space-x-4 mb-6'>
          <div class='flex items-center text-sm text-gray-500 space-x-2'>
            <span>
              {post?.published_at}
            </span>
            <span>·</span>
            <span>12 min read</span>
          </div>
        </div>

        <div class='flex items-center justify-between'>
          <div class='flex items-center space-x-4'>
            <button
              class='flex items-center space-x-1 text-gray-500 hover:text-gray-700'
            >
              <ThumbsUp class='w-5 h-5' />
              <span>100</span>
            </button>
            <button
              class='flex items-center space-x-1 text-gray-500 hover:text-gray-700'
            >
              <MessageSquare class='w-5 h-5' />
              <span>20</span>
            </button>
          </div>

          <div class='flex items-center space-x-3'>
            <button class='text-gray-500 hover:text-gray-700'>
              <Bookmark class='w-5 h-5' />
            </button>
            <button class='text-gray-500 hover:text-gray-700'>
              <Share2 class='w-5 h-5' />
            </button>
            <button class='text-gray-500 hover:text-gray-700'>
              <MoreHorizontal class='w-5 h-5' />
            </button>
          </div>
        </div>
      </div>

      <!-- Featured Image -->
      <div class='py-6'>
        <img
          src={post?.featured_image}
          :alt='post.title'
          class='w-full h-auto object-cover rounded-lg'
        />
      </div>

      <!-- Article Content -->
      <div class='py-10'>
        <div
          class='post-content flex flex-col gap-5'
          set:html={post?.content}
        />

        <!-- Tags -->
        <div class='mt-8 flex flex-wrap gap-2'>
          {post?.tags.map((tag) => <PostTag tag={tag} />)}
        </div>
      </div>

      <!-- Author Bio -->
      <div class='py-8 border-t border-b border-gray-200 my-8'>
        <div class='flex items-start space-x-4'>
          <img
            src={post?.channel.thumbnail}
            alt={post?.channel.title}
            class='w-16 h-16 rounded-full object-cover'
          />
          <div>
            <h3 class='font-medium text-gray-900'>
              {post?.channel.title}
            </h3>
            <div class='mt-1'>
              <button
                class='px-4 py-2 border border-gray-900 text-gray-900 rounded-full text-sm font-medium hover:bg-gray-900 hover:text-white transition-colors'
              >
                Follow
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
